.edit {
    position: absolute;
    top: 50%;
    margin-top: 5.2%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 630px;
    padding: 25px 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.3);
    padding-top: 80;
}

  
#save{
    margin-left: 5%;
    margin-top: 10%;
}
#reset{
    margin-top: 10%;
    margin-left: 15%;
}




input.ng-invalid{
border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
    }
   
    .logo-image{
   
        width: 250px;
        height: 80px ;
      
      
    }
    
  .block {
   
   
    border: none;
    border-radius: 5px;
    background-color: #2563aa;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    text-align: center;
}

label {
    color: #333;
margin-top: 10px;
   margin-left: 0;
   text-align: right;
   height: 30px;
   clear: both;
   float: left;
  }
  
  input{
  height: 30px;
   width: 300px;
   border: 1px solid #000;
   margin-top: 10px;
   float: right;
  }
  