<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
	
	<div class = "loginbox">
		<div class="logo-image" >
		  <img src="https://www.jcrinc.com/-/media/enterprise-imagery/logos/jcr-r-mark.png?h=152&w=532&hash=B19DACCFCF1F6ACDB0D829B425801D6F" class="img-fluid">
	  </div>
	  </div>
  
</nav>

<div class="col-md-4 center" id="box" style="position: relative;">
    <form  #Form="ngForm" (ngSubmit)="onsubmit(Form.value)">
		<h2>Sign Up</h2> 
		<div style="position:absolute; right:25px;">
			<a style="color: black;" routerLink="/">BACK</a></div>
			<br><br>
			<div *ngIf="userexist==true" class="alert alert-danger">
				User Already Exist with this Email Id.
			</div>
			<div [hidden]="Form.valid">
				<div *ngIf="check==true" class="alert alert-danger">
					All Fields Are Required!
				</div>
			</div> 
			<div [hidden]="Form.valid && Form.pristine"  >
			<ul>
			<div *ngIf="fname.invalid && (fname.dirty || fname.touched)" ><li>
				Firstname should only contain lowercase or uppercase letters. e.g. john or John
			</li></div> 
			<div  *ngIf="lname.invalid && (lname.dirty || lname.touched)"><li>
			Lastname should only contain lowercase or uppercase letters. e.g. john or John</li>
		   </div> 
		  
		   <div [hidden]="phone.valid || phone.pristine"
			><li>
		 Please enter a valid 10-digit Phone number(must not include spaces or special characters) </li>
	   </div>
	   <div [hidden]="password.valid || password.pristine"><li>
		 Password must contain at least 3 characters.</li>
	   </div> 
	   <div [hidden]="email.valid || email.pristine"><li>
	 Email ID is not a valid Email Address</li>
   </div> 
</ul>
		   
	</div>
			
			<div 
			*ngIf="statusdata==false && userexist==false"
			class="alert alert-success">Welome {{cust.fname}}!<br>
			Account Successfully Created Now you can Login.
		  </div>
			<!-- <div [hidden]="Form.valid "
			class="alert alert-danger">All Fields Are Required!
		  </div> -->
		
		<hr><b>
		  
		<label>First Name</label></b>
        <div class="form-group">
			<input type="text" class="form-control" name="fname" placeholder="Enter Your First Name" pattern="[A-Za-z]{1,32}" required
			[(ngModel)]="cust.fname" #fname="ngModel">
			
		
		</div>
		<br><br>
		
		<div class="form-group"><b>
			<label>Last Name</label></b>
				<input type="text" class="form-control" name="lname" placeholder="Enter Your Last Name" pattern="[A-Za-z]{1,32}" required
				[(ngModel)]="cust.lname" #lname="ngModel" >
				<!-- <div  *ngIf="lname.invalid && (lname.dirty || lname.touched)"
            class="alert alert-danger">
			
			 Lastname should only contain lowercase or uppercase letters. e.g. john or John
		   </div>  -->
		</div>
        <div class="form-group">
			<b>
				<label>Phone Number</label></b>
			<input type="teL" class="form-control" name="phone" placeholder="Enter Your Phone No."
			 pattern="[7-9]{1}[0-9]{9}"
			 required 
			[(ngModel)]="cust.phone" #phone="ngModel">
			<!-- <div [hidden]="phone.valid || phone.pristine"
			class="alert alert-danger">
		 Please enter a valid 10-digit Phone number(must not include spaces or special characters) 
	   </div>  -->
		</div><b>
		<label>Sign Up As:</label></b>
		<div class="form-group">
			

<select id="usertype" [(ngModel)]="cust.role" #role="ngModel" name="role" id="select">
	<option value="User">User</option>
  <option value="Admin">Admin</option>
  
  </select>
		  </div>   
		  
		  <div class="form-group">
			<b>
				<label>Password</label></b>
			<input type="password" class="form-control" name="password" placeholder="Create Password"  
			pattern=".{3,}"
			 required 
			[(ngModel)]="cust.password" #password="ngModel">
			<!-- <div [hidden]="password.valid || password.pristine"
			class="alert alert-danger">
		 Password must contain at least 3 characters.
	   </div>  -->
		  </div>

	   <div class="form-group">
		<b>
			<label>Email Id</label></b>
		<input type="email" class="form-control" name="email" placeholder="Enter Your Email Id" 
		pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
		 required 
		[(ngModel)]="cust.email" #email="ngModel">
		<!-- <div [hidden]="email.valid || email.pristine"
		class="alert alert-danger">
	 Email ID is not a valid Email Address
   </div>  -->
		
   </div>

       <div class="buttons">
		
        <button type="submit" class="btn btn-primary " id="signup" >Sign Up</button>
		
		<button type="reset" class="btn btn-secondary" id="reset" (click)="reset()" >Reset</button>
    </div>
	</form>

	


